hr   {background-color: #F777777;
      border-style:dotted none none;
      border-color: #4267B3;
      border-width:4px;
      width:80%;}
body {background-color: #777777;}
a   {color: #555555;
      font-style: italic;}
h1   {color: #555555;
      font-style: italic;}
h2   {color: #555555;
      font-style: italic;}
p    {color: #00008B;
      font-style: italic;}
label {color: #55555;
      font-style: italic;}
.images {border-radius: 5%;
transition:transform .2s;
/*animation*/
margin; 0 auto;
}
.images:hover{tranform:scale(2);
padding: 10px;
height: 400px;
border-radius: 5%;
}
